<%-include ('cabecalho.ejs');%>
    <form method="post">
        Nome:<input type="text" name="nome"
         placeholder="Digite aqui seu Nome"><br>
        Email:<input type="email" name="email"
         placeholder="Digite aqui seu Email"><br>
        Senha:<input type="password" name="senha"
         placeholder="Digite aqui sua Senha"><br>
        Foto:<input type="file" name="foto"><br>
        <input type="submit" value="Enviar">
    </form>
<%-include ('rodape.ejs');%>



             <!--ATENÇÃO:-->
<!--No form type o name sempre deve ser escrito 
com letra minuscula,caso contrário devemos 
devemos usar sempre con inicio maiuscula -->
