<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USANDO BANCO DE DADOS</title>
</head>
<body>
    <form method="post">
        Nome:<input type="text" name="nome"
         placeholder="Digite aqui seu Nome"><br>
        Email:<input type="email" name="email"
         placeholder="Digite aqui seu Email"><br>
        Senha:<input type="password" name="senha"
         placeholder="Digite aqui sua Senha"><br>
        Foto:<input type="file" name="foto"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>



             <!--ATENÇÃO:-->
<!--No form type o name sempre deve ser escrito 
com letra minuscula,caso contrário devemos 
devemos usar sempre con inicio maiuscula -->
